@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');


#calendar-container{
    color: var(--primary);
    width: 1000px;
    height: auto;
    display: flex;
}


.days{
    width: 24px;
    height: 24px;
    text-align: center;
}

.calendar{
    width: 400px;
    height: 900px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(13, 24px);
    grid-template-rows: repeat(32, 24px);
    grid-gap: 1px;
    justify-content: center;
}

.tile{
    width: 24px;
    height: 24px;
    background-color: #efb6b2;
    border: 1px solid #4e4e4e;
}

.tile:hover{
    transform: scale(1.2,1.2)
}