@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Great+Vibes&display=swap');

h4{
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 25px;
    color: #4e4e4e;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px white, 0 0 40px whitesmoke, 0 0 50px white, 0 0 60px white, 0 0 70px whitesmoke;
    padding-top: 100px;
    text-emphasis: bold;
}

#moods{
    width: 400px;
    height: 140px;
    color: #4e4e4e;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    text-shadow: 0 0 10px rgb(10, 10, 10), 0 0 20px rgb(146, 140, 140), 0 0 30px #c125b4, 0 0 40px #7033a29e, 0 0 50px #cb4889, 0 0 60px #fF8D8E, 0 0 70px #da8687;
    text-emphasis: bold;
}

.moodText{
    font-size: 0;
    color: transparent;
}

.fa-grin-beam:hover{
    color: #E9CC7F;
    z-index: 500;
}

.fa-grin-beam:hover + p{
    font-size: 24px;
    color: #E9CC7F;
    text-shadow: "2px 2px 5px #4abdff";
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: rgb(133, 133, 133);
}

.fa-smile:hover{
    color: #C4DFF5;
}

.fa-smile:hover + p{
    font-size: 24px;
    color: #C4DFF5;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: rgb(133, 133, 133);
}

.fa-grin-stars:hover{
    color: #9292BA;
}

.fa-grin-stars:hover + p{
    font-size: 24px;
    color: #9292BA;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: rgb(249, 245, 245);
}

.fa-frown:hover{
    color: #CEBECC;
}

.fa-frown:hover + p{
    font-size: 24px;
    color: #CEBECC;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: rgb(133, 133, 133);
}

.fa-grimace:hover{
    color: #3085BB;
}

.fa-grimace:hover + p{
    font-size: 24px;
    color: #3085BB;
    text-shadow: "2px 2px 5px #4abdff";
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: rgb(252, 251, 251);
}

.fa-tired:hover{
    color: #706B8F;
}

.fa-tired:hover + p{
    font-size: 24px;
    color: #706B8F;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: rgb(244, 239, 239);
}

.fa-angry:hover{
    color: #80B5B3;
}

.fa-angry:hover + p{
    font-size: 24px;
    color: #80B5B3;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: rgb(247, 247, 247);
}

