@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Great+Vibes&display=swap');

h4{
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    color: #4e4e4e;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
    padding-top: 100px;
}

#moods{
    width: 400px;
    height: 140px;
    color: #4e4e4e;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    text-align: center;
}

.moodText{
    font-size: 0;
    color: transparent;
}

.fa-grin-beam:hover{
    color: #E9CC7F;
}

.fa-grin-beam:hover + p{
    font-size: 24px;
    color: #E9CC7F;
}

.fa-smile:hover{
    color: #C4DFF5;
}

.fa-smile:hover + p{
    font-size: 24px;
    color: #C4DFF5;
}

.fa-grin-stars:hover{
    color: #9292BA;
}

.fa-grin-stars:hover + p{
    font-size: 24px;
    color: #9292BA;
}

.fa-frown:hover{
    color: #CEBECC;
}

.fa-frown:hover + p{
    font-size: 24px;
    color: #CEBECC;
}

.fa-grimace:hover{
    color: #3085BB;
}

.fa-grimace:hover + p{
    font-size: 24px;
    color: #3085BB;
}

.fa-tired:hover{
    color: #706B8F;
}

.fa-tired:hover + p{
    font-size: 24px;
    color: #706B8F;
}

.fa-angry:hover{
    color: #80B5B3;
}

.fa-angry:hover + p{
    font-size: 24px;
    color: #80B5B3;
}

